=render :partial => 'shared/modal_form', :locals => {:obj => @file_type, :modal_title => "Manage File Types"}
#modal_content_container
  #modal_right_container
    = render :partial => 'shared/right_file_metadata'
  #form_innards
    = render :partial => 'form_innards' #picks the right one based on controller
