.input_group
  = f.label :first_name , "First Name"
  = f.text_field :first_name
  %a.asterisk_icon{:title => "Required"}
.input_group
  = f.label :last_name  , "Last Name"
  = f.text_field :last_name
  %a.asterisk_icon{:title => "Required"}
