#container_page_header.wrapper.clearfix
  #container_page_title
    -#TODO real, neat breadcrumb
    %h1.title #{link_to @system.name, system_path(@system)} > Security Groups > #{@security_group.name}

  -#TODO fix up
  #container_page_buttons.right
    =button_link_to "Delete", system_security_group_path(@system), :method => "delete",
                          :confirm =>"Are you sure you want to delete this security group and revoke all permissions?",
                          :id => 'security_group_delete_link', :class => 'red'


#container_page_actions.wrapper
  .unit
    =button_link_to "Here's a button", "#", :class => "security_group"
    =button_link_to "There's a button", "#", :class => "security_group"
    =button_link_to "Fuzzy button", "#", :class => "security_group"
    =button_link_to "Funny button", "#", :class => "security_group"
    =button_link_to "Buttons buttons", "#", :class => "security_group"
    =button_link_to "Cheesecake button", "#", :class => "security_group"
    =button_link_to "Button Button", "#", :class => "security_group"
    =button_link_to "", "#", :class => "duck"




#container_page_content.wrapper
  .unit.system_left_col
    %h3 Statistics:
    .row.information
      .bold Data Objects utilising group:
      = "TODO" #TODO
      .bold Users governed:
      = "TODO" #TODO

  .lastUnit.system_right_col
    .left.line
      %h3 Group Information:
    .information
      %span.bold Summary:
      %p=@security_group.short_description

#container_page_content.wrapper
  %h3 Users
  %p Here will be a management interface for adding and removing users TODO
  -#TODO
  - unless true #TODO @security_group.things
    Nothing here!