%h2 Colour schemes Management
%ul
  %li= button_link_to 'New Colour Scheme', new_management_colour_scheme_path, :class => "add"

%h3 Colour Schemes
%table
  %tr
    %th Name
    %th Preview
  - @colour_schemes.each do |cs|
    %tr
      %td= cs.name
      %td TODO


