%p An import job has started importing its raw file data

%p
  Data Object: #{@import_job.data_object.name}
  %br/
  Import Mapping: #{@import_job.import_mapping.name}
  %br/
  Raw File: #{@import_job.raw_file.name}
%p
  You can check the progress of an import job here
%p= system_data_object_import_jobs_url(@import_job.data_object.system, @import_job.data_object)
