%p An import job has started validating its raw file
%p
  Email: #{@user.email}
  %br/
  First name: #{@user.first_name}
  %br/
  Last name: #{@user.last_name}
%p
  You can check the progress of an import job here
  -# TODO url
