%p.bold Data Object Preview
#column_list{:style => "background:#eee"}
  %table{:width => "100%"}
    %tr
      - @data_object.display_columns.times do |n|
        %td.column{:align => "center", :width => "#{100 / @data_object.display_columns}%", "data-id" => n } Column #{n+1}

%p.bold Configured Attributes
%p.light Drag attributes below to columns above
#attr_list
  - @data_object_attributes.each do |attr|
    %p.attribute_label.draggable{"data-id" => attr.id }= attr.name