=render :partial => 'shared/modal_form', :locals => {:obj => @data_object_attribute, :modal_title => "Add/Edit Data Object Attributes"}
#modal_content_container
  = render :partial => 'data_object_attributes/form_innards'