$('.basic_field').removeAttr('disabled');
<%= render :partial => "shared/process_modal_errors", :locals => {:obj => @data_object_attribute} if @errors %>
$('#modal_content_container').html('<%= escape_javascript(render :partial => 'form_innards') %>' );
<% unless @errors %>
//    $("#add_attribute_button").slideToggle();
//    $("#bottom_actions_container").slideToggle();
//    $("#new_attribute_container").slideToggle();
    $("#form_errors_container").slideUp();

    //#TODO Make this into a function that can be called rather than sending the whole js back
    $('.draggable').draggable({
        revert:true,
        helper:'clone',
        opacity: 0.5
    });

    $('.column').droppable({
        activeClass: 'dropActive',
        drop: function(event,ui){
          event.stopPropagation();
          ui.helper.hide();
          var $drag = $(ui.draggable),
              $drop = $(this),
              $data = {};

          $(this).html("<span class=\"attribute_label\">" + $drag.data('id') + '-' + $drag.text() + "</div>");
          //$(this).addClass("attribute_column");

        }
    });

<% end %>