%ul
  %li= link_to 'Manage users', admin_users_path
  %li= link_to 'Systems Management', management_systems_path
  %li= link_to 'Raw Storage Management', management_storages_path
  %li= link_to 'Colour Scheme Management', management_colour_schemes_path
