- if obj.errors.any?
  #alert
    %p
      %h2
        =pluralize(obj.errors.count, "error")
        prohibited
        this #{obj.class.name.underscore.humanize.downcase}
        from being saved:
    %ul
      - obj.errors.full_messages.each do |msg|
        %li= msg
