#system_item{:class => "closed"}
  = link_to system.name, system
  = link_to "(Manage)", edit_management_system_path(system)

  %p.details Users: #{system.memberships.count}, Data Objects: #{system.data_objects.count}