#loading
#schema_builder_container
  .field.line
    %p= @display_options[:text]
    .lastUnit
      - if @display_options[:recognised]

        -# Display the input fields or builder if required
        -if @display_options[:show_input_field]
          =text_field_tag :options, @display_options[:stored_value]
        -elsif @display_options[:show_builder]
          #select_builder_container
            =render :partial => 'shared/select_builder',
                    :locals => { :stored_values => @display_options[:stored_value],
                                 :multi => @display_options[:builder_multi]}

      -# Display the syntax helper link if required
      - if @display_options[:helper]
        =link_to "Show Syntax", helper_pages_url(:selected_helper => helper), :class => "helperPopup"
        - if @options[:show_interpretation_field]
          -#unused


-#{text_field_tag :options}/#{text_field_tag :options_extra, "", :size => 1, :maxlength => 1}/
-#@display_options = Hash[
-#    :stored_value               => nil,
-#    :text                       => nil,
-#    :recognised                 => false,
-#    :show_input_field           => false,
-#    :show_interpretation_field  => false,
-#    :show_builder               => false,
-#    :builder_multi              => false,
-#    :fields                     => nil,
-#    :radio_options              => nil,
-#    :helper                     => nil
-#]

