=render :partial => 'shared/modal_form', :locals => {:obj => @file_metadata_schema, :modal_title => "Add/Edit Metadata Fields"}
#modal_content_container
  = render :partial => 'file_metadata_schemas/form_innards'
