#container_page_header.wrapper.clearfix
  #container_page_title
    %h1.title.system
      %span System Management

  #container_page_buttons.right
    = button_link_to 'Add System', new_management_system_path, :class => "green add"
    = button_link_to '[N/A] Import System', "", :class => ""

  #container_page_content.wrapper
    %h3 Active Systems
    -if @active_systems.blank?
      No active systems.
    -else
      =render :partial => 'list_systems', :locals => {:sys => @active_systems, :active => true}

    .row

    %h3 Retired and Inactive Systems
    -if @inactive_systems.blank?
      No inactive systems.
    -else
      =render :partial => 'list_systems', :locals => {:sys => @inactive_systems, :active => false}

