%h2 System Management
.row
%ul
  %li
    = button_link_to 'Add System', new_management_system_path, :class => "add"
    = button_link_to 'X   Import System', "", :class => ""

-#=button_link_to "Delete", management_system_path, :method => "delete",
-#                      :confirm =>"Are you sure you want to delete this system and all related data?",
-#                      :id => 'system_delete_link', :class => 'red delete'

.row
%h3 Active Systems
-if @active_systems.blank?
  No active systems.
-else
  =render :partial => 'list_systems', :locals => {:sys => @active_systems, :active => true}

.row
  
%h3 Retired and Inactive Systems
-if @inactive_systems.blank?
  No inactive systems.
-else
  =render :partial => 'list_systems', :locals => {:sys => @inactive_systems, :active => false}

