- title 'Home'
- if !user_signed_in?
  = form_for("user", :url => user_session_path) do |f|
    = render(:partial => 'devise/sessions/form', :locals => { :f => f })
%h3
  TODO: THIS IS PLACEHOLDER STUFF

Bacon ipsum dolor sit amet pastrami sirloin pancetta, pork chop pork belly rump beef ribs leberkäse tenderloin pork filet mignon chuck prosciutto. Sausage bresaola salami flank, fatback hamburger ham hock corned beef chuck tri-tip boudin. Shankle kielbasa bresaola pork loin. Tenderloin short ribs chuck, corned beef bresaola shankle shank turkey ground round hamburger biltong tail meatball. Filet mignon pastrami ham hock flank short ribs. Chuck pork belly sausage, pork rump swine cow chicken t-bone kielbasa ball tip venison. Chuck pig ham, boudin corned beef leberkäse t-bone meatloaf sausage pastrami hamburger.