
#file_preview
  %table
    %thead
      %tr
        -@csv[:header].each do |cell|
          %th.truncate
            = cell
      %tr
        -@csv[:header].each do |cell|
          %th.truncate.column{:id => "column_#{@csv[:header].index(cell)}"}


    %tbody
      - @csv[:data].each do |row|
        %tr
          - row.each do |cell|
            %td.truncate
              = cell
