%table#file_preview
  %thead
    %tr#header
      -@csv[:header].each do |cell|
        %th.truncate
          = cell
  %tfoot
  %tbody
    - @csv[:data].each do |row|
      %tr
        - row.each do |cell|
          %td.truncate
            = cell
