=render :partial => 'shared/modal_form', :locals => {:obj => @system, :modal_title => "Add To Raw Storage"}
#modal_content_container
  =form_for @system, :remote => true, :url => select_raw_file_type_system_path do |f|
    .lightbox
      .field.line
        = label_tag :file_type_id, "Select File Type:"
        .lastUnit
          - selected_element = @file_type.id unless @file_type.blank?
          = select_tag :file_type_id, options_from_collection_for_select(@system.file_types, :id, :name, selected_element), {:include_blank => true, :onChange => "$(this).parent().submit()"}

      #storage_preview
        = render :partial => 'file_type_preview'

:javascript
    $('#file_type_id').change(function() {
        $('#loading').addClass('loading');
    });