#container_page_header.wrapper.clearfix
  #container_page_title
    %h1.title.system
      %span=@system.name

  #container_page_buttons.right
    =button_link_to "Add Files", select_raw_file_type_system_path(@system), :remote => true, :class => "green add"
    -if can? :configure, @system
      =button_link_to "Configure", configure_system_path(@system), :class => "edit", :remote => true

  #container_page_details.right.flushright.details
    .entry
      %p
        Code:
        =@system.code
    .entry
      %p
        Colour scheme:
        =@system.colour_scheme.present? ? @system.colour_scheme.name : "Default"
    .entry
      %p
        Members:
        =@system.memberships.count || 0


-##container_page_actions.wrapper
-#  .unit
-#    -if can? :update, System

%h2 Details
#container_page_content.wrapper
  .system_left_col
    .left.line
      %h3 System Information:
    .information
      %span.bold System Description:
      %p=@system.description

  .system_right_col
    .left.line
      %h3 System Administrators:
    .row.information
      - unless @system.administrators.present?
        .bold
          Warning: No Administrators!
      - @system.administrators.each do |sa|
        %p=sa.name


#container_page_content.wrapper
  %h2 Content
  .system_left_col
    %h3 Data Objects
    - unless @system.data_objects.present?
      No Data Objects configured.
      %ul
    - @system.data_objects.each do |dobj|
      =link_to system_data_object_path(@system, dobj) do
        .entry.data_object
          %span=dobj.name
        .item.light.truncate
          =dobj.short_description

  .system_right_col
    %h3 Storage:
    -#-#toggle_hidden.button Upload #TODO
    -#.button Upload (Disabled)
    .row.information
      - unless @system.file_types.present?
        No File Types configured.
      - @system.file_types.sort_by(&:storage_location).each do |ft|
        %p.bold #{ft.name}
        %p.light #{ft.raw_files.count} files, XXX MB
        - ft.raw_files.each do |file|
          = file.name
        %p &nbsp;

