#container_page_header.wrapper.clearfix
  #container_page_title
    %h1.title=@system.name

  #container_page_buttons.right
    -if can? :admin, User
      =button_link_to "Edit", edit_management_system_path(@system)
      =button_link_to "Delete", management_system_path, :method => "delete",
                            :confirm =>"Are you sure you want to delete this system and all related data?",
                            :id => 'system_delete_link', :class => 'red'

  #container_page_details.right.flushright.details
    .entry
      %p
        Code:
        =@system.code
    .entry
      %p
        Colour scheme:
        =@system.colour_scheme.present? ? @system.colour_scheme.name : "Default"
    .entry
      %p
        Members:
        =@system.memberships.count || 0


#container_page_actions.wrapper
  .unit
    -if can? :update, System
      =button_link_to "Add Data Object", new_system_data_object_path(@system), :class => "add"
      =button_link_to "Add To Raw Storage", new_system_data_object_path(@system), :class => "add"
      =button_link_to "Manage Security Groups", system_security_groups_path(@system), :class => "security_group"
      =button_link_to "Manage Filetypes", system_file_types_path(@system), :class => "file_type"
      =button_link_to "Manage System Members", edit_members_system_path(@system), :class => "duck"

%h2 Parameters
#container_page_content.wrapper
  .unit.system_left_col
    %h3 System Administrators:
    .row.information
      - unless @system.administrators.present?
        .bold
          Warning: No Administrators!
      - @system.administrators.each do |sa|
        %p=sa.name

  .lastUnit.system_right_col
    .left.line
      %h3 System Information:
    .information
      %span.bold System Description:
      %p=@system.description

%h2 Content
#container_page_content.wrapper
  .unit.system_right_col
    %h3 Storage:
    .row.information
      - @system.storages.each do |s|
        - s.file_types.each do |ft|
          %p.bold Type "#{ft.name}" (Stored on #{s.name}):
          %p.light= "Empty" unless ft.raw_storage_containers.present?
          - ft.raw_storage_containers.each do |rsc|
            %p.light=rsc.name
          %p &nbsp;
    .row.information
      %p blah
  .lastUnit.system_right_col
    %h3 Data Objects
    - unless @system.data_objects.present?
      No Data Objects configured.
    - @system.data_objects.each do |dobj|
      .entry
        .label
          =link_to dobj.name, system_data_object_path(@system, dobj)
        .item
          =dobj.short_description
      %p &nbsp;

