//Overriding Master Styles
//////////////////////////

#header
  .container
    padding: 0, 10px
  .logo
    height: 63px
    width: 180px
    margin: 13px 0 0 0
    padding: 0

#notice
  color: #000
#alert
  padding: 18px 20px 18px 40px
  margin: 10px 20px

//.lightbox
//  background: transparent

//.lightbox .actions
//  text-align: left

//#TODO - make tables not crap
th, td
  padding: 10px

h1
  font: normal normal bold 1.5em/24px Helvetica, Arial, sans-serif


//Overriding Vendor Styles
//////////////////////////

.jqmWindow
  margin-left: -395px
  width: 790px
  padding: 18px
  position: absolute

.jqmClose, .jqmClose:visited, .jqmDelete, .jqmDelete:visited
  float: right
  color: white


.jqmClose:hover, .jqmDelete:hover
  cursor: pointer


