= form_for [@system, @file_type, @raw_file], :remote => true do |f|
  .field.line
    .field.actions
      = button_link_to "Back", select_raw_file_type_system_path(@system), :remote => true
      -#= button_link_to "Close", "", :remote => true, :class => "jqmClose"
      = button_link_to "Close", system_file_types_path(@system)#, :remote => true, :class => "jqmClose"
      -#= link_to "Save and Define Metadata", "#", :remote => true, :class => "blue basic_field", :id => "save_button"
