#container_page_header.wrapper.clearfix
  #container_page_title
    -#TODO real, neat breadcrumb
    %h1.title #{link_to @system.name, system_path(@system)} > #{@data_object.name}

  #container_page_buttons.right
    -if can? :admin, User
      =button_link_to "Edit", edit_management_system_path(@system)
      =button_link_to "Delete", management_system_path, :method => "delete",
                            :confirm =>"Are you sure you want to delete this system and all related data?",
                            :id => 'system_delete_link', :class => 'red'

  #container_page_details.right.flushright.details
    .entry
      %p
        Code:
        =@system.code

    .entry
      %p
        Colour scheme:
        =@system.colour_scheme.present? ? @system.colour_scheme.name : "Default"

#container_page_actions.wrapper
  .unit
    =button_link_to "Here's a button", "#", :class => "security_group"
    =button_link_to "There's a button", "#", :class => "security_group"
    =button_link_to "Fuzzy button", "#", :class => "security_group"
    =button_link_to "Funny button", "#", :class => "security_group"
    =button_link_to "Buttons buttons", "#", :class => "security_group"
    =button_link_to "Cheesecake button", "#", :class => "security_group"
    =button_link_to "Button Button", "#", :class => "security_group"
    =button_link_to "", "#", :class => "duck"


#container_page_content.wrapper
  .unit.system_left_col
    %h3 System Administrators:
    .row.information
      - unless @system.administrators.present?
        .bold
          Warning: No Administrators!
      - @system.administrators.each do |sa|
        %p=sa.name

  .lastUnit.system_right_col
    .left.line
      %h3 System Information:
    .information
      %span.bold Summary:
      %p=@data_object.short_description
    - if @data_object.description.present?
      .information
        %span.bold Full Description:
        %p=@data_object.description

#container_page_content.wrapper
  %h2 Contents
  - unless true #TODO @data_object.things
    Nothing here!